PORT=3000

DATABASE_URL=your_db_url_here

REDIS_HOST=your_redis_host_here
REDIS_PORT=your_redis_port_here
REDIS_PASSWORD=your_redis_password_here

LLM_API_BASE_URL=your_llm_api_base_url_here
LLM_API_KEY=your_llm_api_key_here
LLM_MODEL=your_llm_model_here

TELEGRAM_BOT_TOKEN=your_telegram_bot_token_here
TELEGRAM_CHAT_ID=your_telegram_chat_id_here